<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %} {% endblock %}</title>

        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/jagdb.css' %}" rel="stylesheet">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid jagdb_top_nav" style="width:100%;">
                <div style="float:left; width: 100%;">
                    <ul class="nav nav-tabs" style="display:table; width:100%;">
                        <li class=jagdb_top_nav_link_parent>
                            <a class=jagdb_logo href="{% url 'home' %}"> JagDB </a>
                            &nbsp;
                            &nbsp;
                        </li>
                        <li id=add_link class=jagdb_top_nav_link_parent >
                            <a class=jagdb_top_nav_link href="{% url 'add_questions' %}" > Add Questions </a>
                        </li>
                        <li id=view_link class=jagdb_top_nav_link_parent >
                            <a class=jagdb_top_nav_link href="{% url 'view_questions' %}" > View Questions </a>
                        </li>
                        <li style="float:right;">
                            <span class=jagdb_user_messages>
                                Currently logged in as {{ user.username }} 
                                <br>
                                <button class="btn btn-xs btn-default"> <a href="{% url 'logout' %}"> Logout </a> </button>
                                <button class="btn btn-xs btn-default"> <a href> View Profile </a> </button>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class=container> 
            {% block content %} {% endblock %}
        </div>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script> 
            var current_page = location.pathname; 
            if (current_page.match("add_questions")) {
                $("#add_link").addClass('active');
            } 
            if (current_page.match("view_questions")) {
                $("#view_link").addClass('active');
            } 
            
        </script>
    </body>
</html>




