{% extends 'base.html' %}
{% load staticfiles %}
{% load admin_urls %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid jagdb_top_nav" style="width:100%;">
            <div style="float:left; width: 100%;">
                <ul class="nav nav-tabs" style="display:table; width:100%;">
                    <li class=jagdb_top_nav_link_parent>
                        <a class=jagdb_logo href="{% url 'home' %}"> JagDB </a>
                        &nbsp;
                        &nbsp;
                    </li>
                    {% if perms.question_categorizer.can_add_and_flag %}
                        <li id=add_link class=jagdb_top_nav_link_parent >
                            <a class=jagdb_top_nav_link href="{% url 'add_questions' %}" > Add Questions </a>
                        </li>
                    {% endif %}
                    <li id=view_link class=jagdb_top_nav_link_parent >
                        <a class=jagdb_top_nav_link href="{% url 'view_questions' %}" > View Questions </a>
                    </li>
                    {% if user.is_staff or user.is_superuser %}
                        <li id=admin_link class=jagdb_top_nav_link_parent >
                            <a class=jagdb_top_nav_link href="{% url 'admin:index' %}" > Admin </a>
                        </li>
                    {% endif %}
                    <li style="float:right;">
                        <span class=jagdb_user_messages>
                            Currently logged in as {{ user }} 
                            <br>
                            <button class="btn btn-xs btn-default"> <a href="{% url 'logout' %}?next={% url 'login' %}"> Logout </a> </button>
                            <button class="btn btn-xs btn-default"> <a href="{% url 'user_view' user_id=user.id %}"> View Profile </a> </button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class=container> 
        {% block content %} {% endblock %}
    </div>

    <div class=footer style="background-color: #f5f5f5; line-height:160%;"> 
        <div class=container>
            <p class=text-muted>
                <br>
                Written by Corin Wagen &copy; <span id=date> </span> 
                &nbsp; 
                &nbsp;
                Report Errors on <a href="https://github.com/corinwagen/JagDB/issues" target="_blank"> GitHub </a>
                &nbsp; 
                &nbsp;
                &nbsp;
                <a href="https://scripts.mit.edu/">
                    <img alt="powered by scripts.mit.edu" src="https://scripts.mit.edu/media/powered_by.gif" />
                </a>
                &nbsp; 
                &nbsp;
                <a href="http://www.djangoproject.com/">
                    <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." />
                </a>
            </p>
        </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script> 
        var d = new Date()
        $("#date").text((d.getFullYear()));

        var current_page = location.pathname; 
        if (current_page.match("add_questions") || current_page.match("process_batch_import")) {
            $("#add_link").addClass('active');
        } 
        if (current_page.match("view_questions") || current_page.match("edit_question")) {
            $("#view_link").addClass('active');
        } 
        
    </script>

{% endblock %} 
