<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>[% template.title or "My Catalyst App!" %]</title>
        <link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />
    </head>
    
    <body>
    <div id="page_container">
    <div id="menu">
        <br>
        <span class=logo> &nbsp; JagDB </span>
        &nbsp;&nbsp;&nbsp;
        <span class=main_nav> Add Questions &nbsp; Search Questions &nbsp; </span> 
    </div>
    
    <div id="header">
        <h1>[% title or template.title or site.title %]</h1>
    </div>
    
    <div id="bodyblock">
    <div id="sidebar" class=hidden>
    </div><!-- end menu -->
    
    <div id="content">
        [%# Status and error messages %]
        <span class="message">[% status_msg %]</span>
        <span class="error">[% error_msg %]</span>
        [%# This is where TT will stick all of your template's contents. -%]
        [% content %]
    </div><!-- end content -->
    </div><!-- end bodyblock -->
    
    <div id="footer">Copyright (c) Corin Wagen</div>
    </div><!-- end outer -->
    
    </body>
    </html>


    
