<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>[% template.title or "JagDB" %]</title>

        <!-- Bootstrap -->
        <link href="[% c.uri_for('/static/css/bootstrap.css') %]" rel="stylesheet">
        <link href="[% c.uri_for('/static/css/jagdb.css') %]" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid jagdb_top_nav">
                <div style="float:left;">
                    <strong class=jagdb_logo> JagDB </strong>
                    &nbsp;
                    &nbsp;
                </div>
                <div style="float:left;">
                    <ul class="nav nav-tabs" style="display:inline;">
                        <li id=add_link>
                            <a class=jagdb_top_nav_link href="[% c.uri_for( c.controller('Question').action_for('add_questions') ) %]" > Add Questions </a>
                        </li>
                        <li id=view_link>
                            <a class=jagdb_top_nav_link href="[% c.uri_for( c.controller('Question').action_for('view_questions') ) %]" > View Questions </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <span class="message">[% status_msg %]</span>
        <span class="error">[% error_msg %]</span>
        
        <div class=container> 
            [% content %]
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="[% c.uri_for('/static/js/bootstrap.min.js') %]"></script>
        <script> 
            var current_page = location.pathname; 
            if (current_page.match("add_questions")) {
                $("#add_link").addClass('active');
            }
        </script>
    </body>
</html>




