{% extends 'base.html' %}

{% block body %}
    <div class=container>
        <div class="well jagdb_login_container">
            <form action="" method="post"> {% csrf_token %}
                <br>
                <div>
                    <span class=jagdb_logo_big style="display:inline-block; width:100%; text-align:center;"> JagDB </span>
                </div>
                <br>
                <br>
                <p style="text-align:center;"> 
                    Username: <br> 
                    <input type="text" class=form-control name="username" value="" id="username"> <br>
                    Password: <br>
                    <input type="password" class=form-control name="password" value="" id="password"> <br>
                    <button class="btn btn-large btn-default" type="submit"> Login </button>
                </p>
                {% if form.errors %}
                    <p class="error">Sorry, that's not a valid username or password</p>
                {% endif %}
                <input type="hidden" name="next" value="{% url 'home' %}" />
            </form>
        </div>
    </div>
{% endblock%}

